.bg {
	background-image: url("Logo.png");
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	margin-left: 18%;

}

#greeting {
	font-family: arial, sans serif;
	font-size: 1.5rem;
	color: white;
	margin-left: 21%;
}

#controls {
	position: relative;
	top: 12rem;
}


.btn {
	border: .4rem solid black;
	border-radius: .5rem;
	margin: 4.5rem;
	font-size: 1.5rem;
	padding: 1rem .5rem;
	transition: all .7s;
	width: 10rem;
	text-align: center;
	color: white;
	background: rgba(0,0,0,0.4);
	text-shadow: 0 0 .5rem black;
	cursor:pointer;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

#result{
	position: relative;
	top: 10rem;
}

